## Notebook para analise explorat√≥ria e estatistica dos dados de "ECONOMY" extraidos do site VLR.GG

In [2]:
## Import functions for Data Scraping, Treatment and Plotting

## System
import re
import warnings
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

## EDA
import numpy as np
import pandas as pd

## Plotting
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='whitegrid')

In [16]:
## IMPORT DATA FROM CSV FILE
def ImportData(team_file):

    folder = team_file + '/'
    maps_file = team_file + '_performance_MAPS.csv'
    matches_file = team_file + '_performance_MATCHES.csv'
    
    maps = pd.read_csv(CSV_PATH + folder + maps_file)
    matches = pd.read_csv(CSV_PATH + folder + matches_file)
 
    return maps, matches

## FILTER FUNCTIONS BY GIVEN TEAM/OPPONENT/MAP/PLAYER/AGENT

def FilterTeam(df, teams):
    return df[df["Opp_Team"].isin(teams)]

def FilterOppTeam(df, opp_teams):
    return df[df["Opp_Team"].isin(opp_teams)]

def FilterMap(df, maps):
    return df[df["Map"].isin(maps)]

def FilterPlayer(df, players):
    return df[df["Player"].isin(players)]

## CREATE DICT WITH MULTIPLE DATAFRAMES BY FILTERED VALUES
def FilterDict(col):
    aux = {}
    names = maps[col].unique()
    for name in names:
        aux[name] = maps[maps[col] == name].reset_index(drop=True)
    return aux

In [13]:
## TEAMS: 'IMP', 'paiN', 'NOOR', 'FF', 'BD', 'GL', 'HAVA', 'Mix'
CSV_PATH = '../data/csv/'
EXCEL_PATH = '..data/excel/'
TEAM = ['paiN', 'NOOR']
TEAM_HOM = 'NOOR'
OPP_TEAMS = ['GL', 'IMP', 'HAVAN', 'Inga', 'NMDM', 'VKS', 'FF', 'VORA', 'BD']
MAPS = ['ASCENT', 'BIND', 'HAVEN', 'ICEBOX', 'SPLIT']
maps = pd.read_csv(CSV_PATH + 'pain/pain_economy_MAPS.csv')
matches = pd.read_csv(CSV_PATH + 'pain/pain_economy_MATCHES.csv')

In [17]:
## team_files: gamlanders, pain, vorax, havan, imperial, ingaming, vikings, black_dragons
maps, matches = ImportData('pain')

In [18]:
maps.head()

,Player,2K,3K,4K,5K,1v1,1v2,1v3,1v4,1v5,ECON,PL,DE,Team,Opp_Team,Map,Patch
0,rst,3,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,80,1,0,IMP,paiN,ASCENT,NaN
1,Evilkyk,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29,0,2,IMP,paiN,ASCENT,NaN
2,tuyz,2,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,71,0,0,IMP,paiN,ASCENT,NaN
3,Biscoit1n,2,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35,0,0,IMP,paiN,ASCENT,NaN
4,txddy,4,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64,1,1,IMP,paiN,ASCENT,NaN

In [9]:
maps.Team.unique()

array(['IMP', 'paiN', 'ITZA', 'NOOR', 'FF', 'VIMD', 'B4', 'FAKE', 'FKL',
       'BD', 'dogz', '1tap', 'Furn', 'RED', 'GL', 'HAVA', 'Mix', 'K'],
      dtype=object)

In [14]:
## Filter Team
matches = matches[(matches['Team'].isin(TEAM))].reset_index(drop=True)
maps = maps[(maps['Team'].isin(TEAM))].reset_index(drop=True)(drop=True)

In [15]:
matches

,Team,Pistol_W,Pistol_P,Pistol_WR,Eco_0_5_P,Eco_0_5_W,Eco_0_5_WR,Semi_Eco_5_10_P,Semi_Eco_5_10_W,Semi_Eco_5_10_WR,Semi_Buy_10_20_P,Semi_Buy_10_20_W,Semi_Buy_10_20_WR,Full_Buy_20_P,Full_Buy_20_W,Full_Buy_20_WR,Opp_team,Num_maps,Patch,Map
0,paiN,3,6,50.0,8,3,38.0,3,0,0.0,12,8,67.0,39,20,51.0,IMP,3.0,NaN,MATCH
1,paiN,4,4,100.0,4,4,100.0,0,0,NaN,11,7,64.0,20,15,75.0,ITZA,2.0,1.12,MATCH
2,paiN,1,4,25.0,7,2,29.0,1,0,0.0,1,1,100.0,34,23,68.0,BD,2.0,1.12,MATCH
3,paiN,4,4,100.0,4,4,100.0,0,0,NaN,12,7,58.0,22,15,68.0,dogz,2.0,1.12,MATCH
4,paiN,2,4,50.0,6,2,33.0,2,2,100.0,4,3,75.0,30,19,63.0,1tap,2.0,1.10,MATCH
5,paiN,1,2,50.0,3,2,67.0,0,0,NaN,3,3,100.0,9,8,89.0,Furnace e-sports,1.0,1.10,MATCH
6,paiN,2,2,100.0,2,2,100.0,1,0,0.0,6,2,33.0,12,9,75.0,1tap,1.0,1.10,MATCH
7,paiN,1,6,17.0,10,2,20.0,5,0,0.0,10,7,70.0,43,22,51.0,B4,3.0,1.10,MATCH
8,paiN,1,2,50.0,6,2,33.0,1,1,100.0,3,1,33.0,18,9,50.0,RED,1.0,1.10,MATCH
9,paiN,4,8,50.0,12,4,33.0,10,1,10.0,21,12,57.0,43,17,40.0,GL,4.0,1.12,MATCH
10,paiN,4,4,100.0,5,4,80.0,4,0,0.0,9,6,67.0,22,16,73.0,HAVAN,2.0,1.12,MATCH
11,paiN,3,6,50.0,10,3,30.0,2,0,0.0,8,5,62.0,43,28,65.0,IMP,3.0,1.12,MATCH
12,paiN,3,6,50.0,9,4,44.0,6,2,33.0,10,4,40.0,26,10,38.0,Mix,3.0,1.10,MATCH
13,paiN,1,2,50.0,4,2,50.0,3,0,0.0,4,2,50.0,15,10,67.0,OS KARA VELHO,1.0,1.10,MATCH

In [9]:
## Filtrando dados do time
map_dict = {}
for map in MAPS:
    map_dict[map] = maps[(maps['Map'] == map) & ((maps['Team'] == 'paiN') | (maps['Team'] == 'NOORG2.0') )].reset_index(drop=True)